body {
  background-color: rgb(107, 189, 214);
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  width: 960px;
  margin: 50px auto;
}
.w50 {
  width: 48%;
  float: left;
  margin: 1%;
}
.clear {
  clear: both;
}
#errors {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 26px;
  line-height: 34px;
  text-align: center;
  padding: 10px;
  margin: 0;
  border-radius: 10px;
}
form,
.formData {
  width: 380px;
  border: 3px solid white;
  box-shadow: 0 0 10px #eec6c6;
  padding: 30px;
  margin: 50px auto;
  color: white;
  background-color: #1a5f74;
  border-radius: 20px;
}
label {
  width: 170px;
  display: inline-block;
  font-size: 18px;
  color: white;
}
input:not([type="radio"]),
select {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  padding: 5px 10px;
}
input:not([type="radio"]) {
  width: 170px;
  height: 30px;
  margin-bottom: 10px;
}
select {
  width: 190px;
  margin-top: 10px;
}
input[type="submit"] {
  width: 100%;
  font-size: 22px;
  background-color: #041829;
  color: white;
  font-family: "Kalam", cursive;
  border: 0px;
  padding: 10px;
  height: 50px;
  box-shadow: 4px 4px 0px #a0abb3;
  border-radius: 8px;
}
input[type="submit"]:active {
  box-shadow: -4px -4px 0px #b1bac0;
}
